@model WebApplication13.Models.SanPham

@{
    ViewBag.Title = "Index";
    Layout = "";
}
<!DOCTYPE html>

<head>
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
</head>
<body>
    <div>
        @Html.TextBox("languages")
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        var listLanguages = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
        ];
        $("#languages").autocomplete({
            source: listLanguages
        });
    });
</script>
