@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/open_sans/OpenSans-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/open_sans/OpenSans-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/open_sans/OpenSans-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/open_sans/OpenSans-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/open_sans/OpenSans-Semibold.ttf');
    font-weight: 500;
}
@font-face {
 font-family: "My Custom Font";
    src: url("/Themes/Portal/Admin/assets/font-customer/VNF-ITCLubalinGraphRegular.ttf");

}
@font-face {
    font-family: 'SFUStoneSansBold';
    src: url('../../fonts/SFUStoneSansBold.TTF') format('truetype');
}
@font-face {
    font-family: 'SFUSydneyMedium';
    src: url('../../fonts/SFUSydneyMedium.TTF') format('truetype');
}