.pt30 {
    padding-top: 30px;
}

.margin-select {
    margin-top: 15px;
    margin-bottom: 5px;
}
.margin-select-list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.w35 {
    width: 35%;
    padding-top: 5px;
}

.saleoff-padding-top-left {
    padding-top: 5px;
    padding-left: 40px;
}

.saleoff-menu-screen__right-scoll-header-left {
    font-size: 13px;
    color: #363636;
    font-weight: 500;
}

.name-header::after {
    content: "*";
    color: red;
    margin: 0 0.2em;
}



.back-ground-saleoff {
    background-color: white !important;
}

.text-advanced:hover {
    color: #0088FF;
    text-decoration: underline;
}

.name-header-before::before {
    content: ".";
    font-size:20px;
    color:black;
    margin: 0 0.2em;
}
#listLocation, #listSource, .list-day{
    margin-top:15px;
}
.datepick{
    width:270px !important;
}
.datepick-month{
    width:23em !important;
}
.datepick-month-year{
    width:10em !important;
    text-align:center;
}
.start-hour{
    width: 34%;
    margin-bottom:10px;
    margin-left: 10px;
    margin-right: 10px;
}
.pt-hour{
    padding-top:3px
}
.form-saleoff{
    width: 80%;
    margin: 30px 0px 15px 0px;
}
.table_by_total_amount, .table_by_variant_quantity, .table_by_category_quantity, .table_by_brand_quantity,.table_by_variant_quantity_range,.table_by_category_quantity_range,.table_by_brand_quantity_range{
    background-color:white;
}
.table_by_total_amount>thead, .table_by_variant_quantity>thead, .table_by_category_quantity>thead, .table_by_brand_quantity>thead, .table_by_variant_quantity_range>thead, .table_by_category_quantity_range>thead, .table_by_brand_quantity_range>thead{
    background-color:#f9fafc;
    border-bottom:1px solid #dcdee2;
    border-top:1px solid #dcdee2;
}
.table_by_total_amount>thead>tr>th, .table_by_variant_quantity>thead>tr>th, .table_by_category_quantity>thead>tr>th, .table_by_brand_quantity>thead>tr>th, .table_by_variant_quantity_range>thead>tr>th, .table_by_category_quantity_range>thead>tr>th, .table_by_brand_quantity_range>thead>tr>th{
    padding:7px 8px 7px 15px ;
}
#by_total_amount{
    background-color:white;
}
.table_by_total_amount>tbody>tr>td, .table_by_variant_quantity>tbody>tr>td, .table_by_category_quantity>tbody>tr>td, .table_by_brand_quantity>tbody>tr>td, .table_by_variant_quantity_range>tbody>tr>td, .table_by_category_quantity_range>tbody>tr>td, .table_by_brand_quantity_range>tbody>tr>td{
    padding:7px 8px 7px 15px ;
    vertical-align:middle;
}
.table_by_promotion>thead>tr>th{
    font-weight:500
}
.add-condition{
    padding: 10px 15px 5px 15px;
    width: 55%;
}
.condition-customer{
    padding-top: 10px;
    margin-bottom: 0px;
    border-top: 1px dotted #ccc;
    margin-top: 10px;
}
.btn-default-saleoff{
    border:1px solid #0088FF;
}
.btn-default-saleoff:hover{
    background-color: #0088FF;
    color: white;
}
.input-group-btn a.active {
    background: #0088FF;
    color: #fff;
    box-shadow: none;
}
.input-group-btn a {
    background: #fff;
    color: #0088FF;
}
.saleoff-all-product{
    width: 40%;
    margin-left: 10%;
    padding-left: 15px !important;
}
 .down-list-new {
        border: none; 
        background: none !important; 
        position: absolute !important; 
        left: 325px; 
        padding: 8px 3px; 
        box-shadow: none; 
        min-width:0px;
    }

    .next-list--compact .next-list__item {
        padding: 1px 10px;
    }
    .next-list > li .next-list__item
    {
        padding-left:10px;
        padding-right:3px;
    }